.photos-container {
  width: 60%;
  display: flex;
  width: 70%;
  position: relative;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
  align-items: flex-start;
  background-color: black;
  margin-top: 2em;



  .photo-container {
    border: 2px solid white;
    margin: 15px;
    height: fit-content;
    padding: 8px;
    position: relative;
    cursor: pointer;
    height: 240px;
    width: 200px;

    img {
      width: 200px;
    }

    .photo-text-container {
      margin-top: -5px;
      p {
        font-size: 12px;
      }
    }
    
    &:hover {
      img {
        opacity: 0.8;
      }
    }
  }
}
