.App {
  text-align: center;
}

.App-logo {
  margin: .5em 1.5em;
  font-family: Fantasy;
}

@media (prefers-reduced-motion: no-preference) {
  .App-background {
    /* animation: App-logo-spin infinite 20s linear; */
    width: 100vw;
    height: 90vh;
    opacity: 0.9;
  }
}

.App-header {
  background-color: black;
  opacity: 0.8;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: 1em;
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-menu-list {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

.App-menu-item {
  margin: 0 3em;
  padding: 10px 30px;
}

.App-menu-item.selected {
  border: 1px solid white;
}


/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
