$font-color: white;
$menu-border: 1px solid $font-color;

.App {
  text-align: center;
  background-image: url('https://live.staticflickr.com/65535/51017225923_3f1a7790a4_c.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;

  .App-header {
    min-height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 1em;
  
    .App-logo {
      margin: .5em 1.5em;
      font-family: Fantasy;
      font-weight: 100;
      color: #ccc;
    }

    .App-menu-list {
      list-style: none;
      display: flex;
      justify-content: center;
      width: 100%;
    
      .App-menu-item {
        padding: 10px 0;
        margin: 0 3em;
      }
    }
  }

  &.page-home {
    &> div:not(.App-header) {
      height: 100%;
    }
    .home {
      border-bottom: $menu-border;
    }
  }
  &.page-music {
    .music {
      border-bottom: $menu-border;
    }
  }
  &.page-photography {
    .photography {
      border-bottom: $menu-border;
    }
  }
  &.page-events {
    .events {
      border-bottom: $menu-border;
    }
  }
  &.page-about {
    .about {
      border-bottom: $menu-border;
    }
  }

  footer {
    color: #ccc;
    display: flex;
    position: fixed;
    bottom: 0;
    font-size: 12px;
    justify-content: center;
    width: 100%;
    z-index: 3;
    height: 40px;

    div {
      margin-top: 10px;
    }

    span {
      margin: 0 10px;
    }
  }
}
