$font-color: white;

body {
  margin: 0;
  font-family: Comic Sans MS, Comic Sans;
  font-weight: 100;
  color: #ccc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: $font-color;
}

code {
  font-family: Comic Sans MS, Comic Sans,
    monospace;
}

a, a:visited, a:hover {
  color: $font-color;
  text-decoration: none;
}
